*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(150, 166, 177);
} 
nav{
    background: white;
    box-shadow: grey;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
}

ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}
.nav-toggle{
    font-size: 1.5rem;
    border-color: transparent;
    background: transparent;
    cursor: pointer;
    color:skyblue
}
.nav-toggle:hover{
    color: black;
    transform: rotate(90deg);
}
.logo{
    height: 40px;
}
.links a {
    font-size: 1rem;
    text-transform: capitalize;
    color: black;
    display: block;
    padding: 0.5rem 1rem;

}
.links a:hover{
    color:rgb(84, 165, 197);
    background:  skyblue;
    padding-left: 1.5rem;
}
.social-icons{
    display: none;
}
.links{
    height: 0;
    overflow: hidden;
}
.show-links{
    height: 10rem;
}
@media screen and (min-width:800px) {
    .nav-center{
        max-width: 1170px;
        margin:0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }
    .nav-header {
        padding: 0;}
    .nav-toggle{
        display: none;
    }
    .links{
        height: auto;
        display: flex;
}
.links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;}
    .social-icons a {
        margin: 0 0.5rem;}
}

